<!DOCTYPE html>
<html lang="en">
<%- include('includes/head', {title: 'Home | Cookieshop' }) %>
<body>
  
  <%- include('includes/header') %>

  <main>
    <p>Welcome to my cookieshop. 👋</p>
    <p>We currently have <%= cookiesInStock %> cookies in stock.</p>
  </main>

  <%- include('includes/footer') %>
</body>
</html>